In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('bvl_companies.csv')

,companyCode,companyName,shortName,nemonico,lastDate,previousDate,last,minimun,maximun,opening,...,percentageChange,currency,unity,segment,createdDate,numNeg,sectorCode,sectorDescription,buy,sell
0,XXX,Adobe Inc.,Adobe Inc.,ADBE,2025-03-17T17:47:47,2025-03-14,393.00,391.3,393.00,391.3,...,0.54,US$,1,RV3,2025-03-17T14:00:17.436,0,NaN,NaN,NaN,NaN
1,21400,ALICORP S.A.A.,Alicorp,ALICORC1,2025-03-17T18:53:17,2025-03-14,8.01,8.0,8.01,8.0,...,-0.37,S/,1,RV1,2025-03-17T14:00:17.436,0,CI,INDUSTRIALES,8.01,8.02
2,73250,CREDICORP LTD.,Credicorp Ltd.,BAP,2025-03-17T18:56:46,2025-03-14,191.70,190.0,191.70,190.0,...,1.77,US$,1,RV3,2025-03-17T14:00:17.436,0,CD,DIVERSAS,191.29,192.00

In [4]:
pd.read_csv('empresas_bvl.csv')

,companyCode,companyName,shortName,nemonico,lastDate,previousDate,last,minimun,maximun,opening,...,percentageChange,currency,unity,segment,createdDate,numNeg,sectorCode,sectorDescription,buy,sell
0,XXX,Adobe Inc.,Adobe Inc.,ADBE,2025-03-17T17:47:47,2025-03-14,393.00,391.3,393.00,391.3,...,0.54,US$,1,RV3,2025-03-17T13:40:17.093,0,NaN,NaN,NaN,NaN
1,21400,ALICORP S.A.A.,Alicorp,ALICORC1,2025-03-17T18:29:25,2025-03-14,8.01,8.0,8.01,8.0,...,-0.37,S/,1,RV1,2025-03-17T13:40:17.093,0,CI,INDUSTRIALES,8.01,8.02
2,73250,CREDICORP LTD.,Credicorp Ltd.,BAP,2025-03-17T17:59:13,2025-03-14,190.80,190.0,191.00,190.0,...,1.30,US$,1,RV3,2025-03-17T13:40:17.093,0,CD,DIVERSAS,190.91,192.00
3,XXX,Adobe Inc.,Adobe Inc.,ADBE,2025-03-17T17:47:47,2025-03-14,393.00,391.3,393.00,391.3,...,0.54,US$,1,RV3,2025-03-17T14:00:17.436,0,NaN,NaN,0.00,0.00
4,21400,ALICORP S.A.A.,Alicorp,ALICORC1,2025-03-17T18:53:17,2025-03-14,8.01,8.0,8.01,8.0,...,-0.37,S/,1,RV1,2025-03-17T14:00:17.436,0,CI,INDUSTRIALES,8.01,8.02
5,73250,CREDICORP LTD.,Credicorp Ltd.,BAP,2025-03-17T18:56:46,2025-03-14,191.70,190.0,191.70,190.0,...,1.77,US$,1,RV3,2025-03-17T14:00:17.436,0,CD,DIVERSAS,191.29,192.00
6,XXX,Adobe Inc.,Adobe Inc.,ADBE,2025-03-17T17:47:47,2025-03-14,393.00,391.3,393.00,391.3,...,0.54,US$,1,RV3,2025-03-17T14:00:17.436,0,NaN,NaN,0.00,0.00
7,21400,ALICORP S.A.A.,Alicorp,ALICORC1,2025-03-17T18:53:17,2025-03-14,8.01,8.0,8.01,8.0,...,-0.37,S/,1,RV1,2025-03-17T14:00:17.436,0,CI,INDUSTRIALES,8.01,8.02
8,73250,CREDICORP LTD.,Credicorp Ltd.,BAP,2025-03-17T18:56:46,2025-03-14,191.70,190.0,191.70,190.0,...,1.77,US$,1,RV3,2025-03-17T14:00:17.436,0,CD,DIVERSAS,191.29,192.00

In [15]:
pd.read_csv('data/yfinance_data.csv')

,Fecha,Ticker,Open,Close,Yield,High,Low,Volume,Yield (%),Market Cap,...,eps,beta,pb_ratio,revenue,ebitda,net_income,sector,industry,company,country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.48,1.056,0.441301,1.819882e+10,0.0,0.0,Financial Services,Banks - Regional,Credicorp Ltd.,Peru
1,NaN,ILF,23.92,24.29,NaN,24.43,23.92,1000825.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,BRK-B,514.62,523.01,NaN,524.68,513.21,5334694.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,BAP,189.50,190.81,NaN,192.20,188.78,234933.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN